<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.picklh.examples" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AppNavHomeActivity"
            android:label="@string/app_name2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SimpleUpActivity"
            android:label="@string/title_activity_simple_up"
            android:parentActivityName=".AppNavHomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />

            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.picklh.examples.AppNavHomeActivity" />
        </activity>
        <activity
            android:name=".PeerActivity"
            android:label="@string/title_activity_peer"
            android:parentActivityName=".AppNavHomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.picklh.examples.AppNavHomeActivity" />
        </activity>
        <activity
            android:name=".ViewFromOtherTaskActivity"
            android:label="@string/title_activity_view_from_other_task"
            android:parentActivityName=".AppNavHomeActivity"
            android:theme="@style/Theme.Black" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.picklh.examples.AppNavHomeActivity" />
        </activity>
        <activity
            android:name=".OutsideTaskActivity"
            android:label="@string/title_activity_outside_task"
            android:taskAffinity="com.example.picklh.examples.outsidetask"
            android:theme="@style/Theme.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContentCategoryActivity"
            android:label="@string/title_activity_content_category"
            android:parentActivityName=".AppNavHomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.picklh.examples.AppNavHomeActivity" />
        </activity>
        <activity
            android:name=".ContentViewActivity"
            android:label="@string/title_activity_content_view"
            android:parentActivityName=".ContentCategoryActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="application/x-example" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.picklh.examples.ContentCategoryActivity" />
        </activity>
        <activity
            android:name=".NotificationsActivity"
            android:label="@string/title_activity_notifications"
            android:parentActivityName=".AppNavHomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.picklh.examples.AppNavHomeActivity" />
        </activity>
        <activity
            android:name=".InterstitialMessageActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_interstitial_message"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImgViewActivity"
            android:label="@string/title_activity_img_view"
            android:parentActivityName=".AppNavHomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.picklh.examples.AppNavHomeActivity" />
        </activity>
        <activity
            android:name=".DigitalClockActivity"
            android:label="@string/title_activity_digital_clock" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListViewActivity"
            android:label="@string/title_activity_list_view"
            android:parentActivityName=".AppNavHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.picklh.examples.AppNavHomeActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GridViewActivity"
            android:label="@string/title_activity_grid_view"
            android:parentActivityName=".AppNavHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.picklh.examples.AppNavHomeActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
